<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>A propos</h2>
            <h3>Découvrez plus d'<span>Informations</span></h3>
            <p>
                Consciente des besoins de ses clients, la Compagnie International d'Assurance, vous propose différentes
                offres adaptées à votre
                besoin vous permettant de rouler librement en toute sécurité.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                <img src="assets/img/about.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                data-aos-delay="100">
                <h3>Profitez d'un service de qualité à un prix trés abordable.</h3>
                <!--<p class="font-italic">
                    
                </p>-->
                <ul>
                    <li>
                        <i class="bx bx-shopping-bag"></i>
                        <div>
                            <h5>Remorquage et aide au constat gratuit</h5>
                            <p>Nous vous proposons un remorquage de qualité ainsi qu'une aide au constat gratuit dans
                                n'importe quel situation.</p>
                        </div>
                    </li>
                    <li>
                        <i class="fas fa-bullhorn"></i>
                        <div>
                            <h5>Lancez vos annonces de location / vente de vehicule</h5>
                            <p>
                                Nous vous proposons un ensemble de formules vous permettant de lancer des annonces de
                                location / vente de vehicule.
                            </p>
                        </div>
                    </li>
                </ul>
                <!--<p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->