<nz-descriptions nzTitle="Informations">
                                    <nz-descriptions-item nzTitle="Code">
                {{ categorieVehicule?.code }}
            </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Libelle">
                {{ categorieVehicule?.libelle }}
            </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Icon">
                {{ categorieVehicule?.icon }}
            </nz-descriptions-item>
            </nz-descriptions>