<div class="container-fluid d-flex w-100 h-75 align-items-center justify-content-center">
    <div class="col-xl-12 col-md-12 mb-2 ">
        <div class="row mt-2 mb-3">
            <div class="col-12">
                <nz-card style="width:100%;">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" (click)="location.back()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour
                        </button> &nbsp;
                        <!--<h4 > Gestion des <span class="font-weigh-bold">role</span> </h4>-->
                    </div>

                </nz-card>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12  mb-xl-0">
                <div class="card shadow mb-2">
                    <div class="card-header p-4 border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Formules</h3>
                            </div>

                            <div class="col">
                                <input class="form-control form-control-alternative" (keyup)="updateFilter($event)"
                                    placeholder="Rechercher" type="text">
                            </div>

                            <div class="col text-right">
                                <button type="button" (click)="refresh()"
                                    [hidden]="!authSrv.hasListAuthority(formuleSrv.resourceName)"
                                    routerLinkActive="router-link-active" class="btn btn-dark">
                                    <i class="fas fa-sync"></i>
                                    Raffraichir
                                </button>
                                &nbsp;
                                <button type="button" (click)="isNewModalVisible = true"
                                    [hidden]="!authSrv.hasWriteAuthority(formuleSrv.resourceName)"
                                    routerLinkActive="router-link-active" class="btn btn-primary">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Ajouter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  ">
            <div class="col-xl-12 mb-xl-0">
                <div>
                    <!--<ngx-datatable #table *ngIf="formules.length && (authSrv.hasListAuthority(formuleSrv.resourceName))"
                        class="material expandable" [columns]="columns" [columnMode]="'force'" [columnMode]="'force'"
                        [scrollbarH]="true" [loadingIndicator]="loadingIndicator"
                        [messages]="{ emptyMessage: 'Aucun élément a afficher', totalMessage: 'élément(s)', selectedMessage: 'Selectionné(s)' }"
                        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="formules">

                        <ngx-datatable-column name="Actions">

                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>


                                <button (click)="displayViewModal(row)"
                                    [hidden]="!authSrv.hasViewAuthority(formuleSrv.resourceName)" type="button"
                                    nzTooltipTitle="Details" nzTooltipPlacement="top" nz-tooltip
                                    class="btn btn-sm btn-info">
                                    <i class="fa fa-eye"></i>
                                </button>&nbsp;

                                <button (click)="displayEditModal(row)"
                                    [hidden]="!authSrv.hasWriteAuthority(formuleSrv.resourceName)" type="button"
                                    nzTooltipTitle="Modifier" nzTooltipPlacement="top" nz-tooltip
                                    class="btn btn-sm btn-warning">
                                    <i class="fas fa-pen-square"></i>
                                </button>&nbsp;

                                <button type="button" class="btn btn-sm btn-danger" (click)="delete(row)"
                                    [hidden]="!authSrv.hasDeleteAuthority(formuleSrv.resourceName)"
                                    nzTooltipTitle="Supprimer" nzTooltipPlacement="top" nz-tooltip>
                                    <i class="fa fa-trash"></i>
                                </button>

                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Code">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                {{ row.code }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Libelle">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                {{ row.libelle }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Montant">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                {{ row.montant | currency:'F CFA':'code':'3.2-2':'fr' }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Description">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                {{ row.description }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Annonce">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                <span class="badge badge-success" style="font-size: 15px;" *ngIf="row.canPost" >Autorisé</span>
                                <span class="badge badge-danger" style="font-size: 15px;" *ngIf="!row.canPost" >Non Autorisé</span>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>-->

                    <div class="row" *ngIf="formules.length && (authSrv.hasListAuthority(formuleSrv.resourceName))">
                        <div *ngFor="let formule of formules" class="col-4 col-sm-4">
                            <nz-card style="width:400px;" [nzTitle]="cardTitle" [nzExtra]="extraTemplate"
                                [nzActions]="[actionDelete, actionUpdate, actionEnable]">
                                <p *ngFor="let option of formule?.options">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    {{ option?.libelle }}
                                </p>
                                <ng-template #extraTemplate>
                                    <!--<button type="button" nz-button nzType="primary" >
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>-->
                                    <span class="badge badge-success" style="font-size: 12px;">
                                        {{ formule?.montant | currency:'F CFA':'code':'3.2-2':'fr' }}
                                    </span>
                                </ng-template>
                                <ng-template #cardTitle>
                                    <nz-badge *ngIf="formule.visible" nzStatus="processing"></nz-badge>&nbsp;
                                    {{formule?.libelle}}
                                </ng-template>
                                <ng-template #actionDelete>
                                    <i class="fa fa-trash" (click)="delete(formule)" aria-hidden="true"></i>
                                </ng-template>
                                <ng-template #actionUpdate>
                                    <i nz-icon (click)="displayEditModal(formule)" nzType="edit"></i>
                                </ng-template>
                                <ng-template #actionEnable>
                                    <nz-switch [(ngModel)]="formule.visible" [nzControl]="true"
                                        (click)="setVisible(formule)" nzCheckedChildren="Visible"
                                        nzUnCheckedChildren="Masqué" [nzLoading]="activeLoadingIndicator">
                                    </nz-switch>
                                </ng-template>
                            </nz-card>
                        </div>
                    </div>

                    <app-empty-indicator *ngIf="!formules.length && authSrv.hasListAuthority(formuleSrv.resourceName)"
                        [isGrantedCreate]="authSrv.hasWriteAuthority(formuleSrv.resourceName)"
                        (buttonClicked)="isNewModalVisible = true"></app-empty-indicator>
                    <app-access-denied-indicator *ngIf="!authSrv.hasListAuthority(formuleSrv.resourceName)">
                    </app-access-denied-indicator>
                </div>
            </div>
        </div>
    </div>

</div>

<nz-modal [nzMaskClosable]="false" [(nzVisible)]="isNewModalVisible" [nzClosable]="true" [nzWidth]="'70%'"
    [nzTitle]="newModalTitle" [nzContent]="newModalContent" [nzFooter]="null" (nzOnCancel)="isNewModalVisible = false">
    <ng-template #newModalTitle>
        <span class="font-weight-bold">Formulaire de creation</span>
    </ng-template>

    <ng-template #newModalContent>
        <app-formule-new (created)="onCreated($event)"></app-formule-new>
    </ng-template>

    <ng-template #newModalFooter>
        <button nz-button nzType="primary" (click)="isNewModalVisible = false">Fermer</button>
    </ng-template>
</nz-modal>


<nz-modal [nzMaskClosable]="false" [(nzVisible)]="isEditModalVisible" [nzClosable]="true" [nzWidth]="'70%'"
    [nzTitle]="updateModalTitle" [nzContent]="updateModalContent" [nzFooter]="null"
    (nzOnCancel)="isEditModalVisible = false">
    <ng-template #updateModalTitle>
        <span class="font-weight-bold">Formulaire de modification</span>
    </ng-template>

    <ng-template #updateModalContent>
        <app-formule-edit [formule]="selectedFormule" (updated)="onUpdated($event)"></app-formule-edit>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="isEditModalVisible = false">Fermer</button>
    </ng-template>
</nz-modal>


<nz-modal [nzMaskClosable]="false" [(nzVisible)]="isViewModalVisible" [nzClosable]="true" [nzWidth]="'60%'"
    [nzTitle]="viewModalTitle" [nzContent]="viewModalContent" [nzFooter]="null"
    (nzOnCancel)="isViewModalVisible = false">
    <ng-template #viewModalTitle>
        <span class="font-weight-bold">Formule - Details</span>
    </ng-template>

    <ng-template #viewModalContent>
        <app-formule-detail [formule]="selectedFormule"></app-formule-detail>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="isViewModalVisible = false">Fermer</button>
    </ng-template>
</nz-modal>