<main class="d-flex justify-content-center align-items-center" >
  <div class="row align-items-center vertical-center">
    <div class="col-sm-12 col-lg-12 col-xl-12">
      <img alt="canceled-image" src="assets/img/payment/payment-success.png" width="375" height="375">
      <div style="width: 350px;" class="d-flex justify-content-center align-items-center">
        <h4  class="text-center" >
          <i class="fa fa-check-circle"></i>
          Le paiement a été effectué avec succés.
        </h4>
      </div>
    </div>
  </div>
</main>
