[nz-carousel-content] {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: #ffffff;
    color: rgb(19, 18, 18);
    font-weight: bold;
    overflow: hidden;
  }
  
  h3 {
    color: #fff;
    margin-bottom: 0;
  }
  
  center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }